.button {
  width: 60px;
  height: 60px;
  background-color: brown;
  color: white;
  cursor: pointer;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  transition: width .1s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 11;
}
.button svg {
  font-size: 40px;
  margin-left: 10px;
}
.button:hover {
  width: 160px;
}
.cnbutton:hover::after {
  content: "";
  font-size: 20px;
  margin-left: 10px;
  animation: morecontent .1s ease-in-out forwards;
}
@keyframes morecontent {
  0% {
    content: "";
  }
  25% {
    content: "添";
  }
  50% {
    content: "添加";
  }
  75% {
    content: "添加图";
  }
  100% {
    content: "添加图片";
  }
}
.enbutton:hover::after {
  content: "";
  font-size: 20px;
  margin-left: 10px;
  animation: encontent .1s ease-in-out forwards;
}
@keyframes encontent {
  0% {
    content: "";
  }
  25% {
    content: "Ad";
  }
  50% {
    content: "Add I";
  }
  75% {
    content: "Add Ima";
  }
  100% {
    content: "Add Image";
  }
}
.enbutton:hover {
  width: 180px;
}
.jpbutton:hover::after {
  content: "";
  font-size: 20px;
  margin-left: 10px;
  animation: jpcontent .1s ease-in-out forwards;
}
@keyframes jpcontent {
  0% {
    content: "";
  }
  25% {
    content: "画";
  }
  50% {
    content: "画像を";
  }
  75% {
    content: "画像を追";
  }
  100% {
    content: "画像を追加する";
  }
}
.jpbutton:hover {
  width: 220px;
}
