.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
}
.container svg {
  width: 25px;
  height: auto;
}
.liked svg {
  color: red;
  fill: red;
}
.container svg:hover {
  cursor: pointer;
}