.container {
  width: 100%;
  max-width: 500px;
  height: 60px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.top {
  width: 100%;
  line-height: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.container span {
  height: 10px;
  width: 100%;
  border-radius: 5px;
}