.callback {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.callback p {
  position: relative;
  margin-left: calc(100vw/2 - 90px);
  top: 50px;

}