.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9;
}
.logo {
  z-index: 11;
  margin-left: 20px;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  z-index: 11;
  margin-right: 20px;
}
.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #e1e1e1;
  z-index: 1;
}