.container {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.name h3, .name p, .email p {
  margin: 0 auto;
}
.main p {
  font-size: var(--avatar-font-size);
}