.container {
  background-color: var(--upload-background-color);
  width: 50%;
  height: var(--upload-wrapper-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--upload-shadow);
  transition: all 0.5s;
}
@media screen and (max-width: 850px) {
  .container {
      width: 95%;
  }
}
.title {
  height: calc(2/9 * 100%);
}
.title {
  text-align: center;
  position:relative;
  width: 100%;
}
.title h1 {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  line-height: 24px;
  height: 24px;
}